@using ChkProject.Models
@model StockInItemModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">StockIn Product Report</h3>
                </div>


                @*<div class="panel-heading">
                    <h3 class="panel-title">Stock-IN</h3>
                </div>*@
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm())
                        {

                            <div class="widget blue no-border-top" id="createEditPartPanel">
                                <div class="content">
                                    @*<div class="widget-title">
                                        <h4>
                                            <i class="icon-reorder"></i>@ViewBag.Title
                                        </h4>
                                    </div>*@
                                    <table id="fitlerPanel">
                                        <tbody>
                                            <tr>
                                                <td class="7">
                                                    @Html.ValidationSummary(true)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>From Date:</td>
                                                <td>
                                                    @Html.TextBoxFor(c => c.FromDate, new { @class = "date form-control required", @autocomplete = "off" })
                                                </td>
                                                <td>&nbsp;&nbsp;To Date:</td>
                                                <td>
                                                    @Html.TextBoxFor(c => c.ToDate, new { @class = "date form-control required", @autocomplete = "off" })
                                                </td>
                                                <td>
                                                    @Html.DropDownList("ProductID", new SelectList(ViewBag.Product, "Value", "Text"), new { @class = "form-control required", @autocomplete = "off" })
                                                </td>

                                                <td>
                                                    &nbsp;&nbsp;<button type="submit" id="btnRenderAgentsReport" class="btn btn-primary">Preview Sheet</button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix"></div>

                                    @if (Model.ReportGenerated)
                                    {
                                        if (Model.StockInItemList.Any())
                                        {
                                            <div id="HideReportButtons">
                                                <div style="text-align: left;width: 100%;">

                                                    <button onclick=printDiv('ReportContainer'); class="btn btn-primary"><i class="icon-print"></i>&nbsp;Print Report</button>

                                                    <br />
                                                    <br />
                                                </div>
                                                <div id="ReportContainer">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr style="background-color:lightgray">

                                                                <th>
                                                                    Product Name
                                                                </th>
                                                                <th>
                                                                    Quantity
                                                                </th>

                                                                <th>
                                                                    Company Name
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody style="background: #fff">

                                                            @foreach (var items in Model.StockInItemList)
                                                            {

                                                                <tr>
                                                                    <td style="text-align:left;"> @items.ProductName</td>
                                                                    <td style="text-align:left;"> @items.Quantity</td>
                                                                    <td style="text-align:left;"> @items.CompanyName</td>



                                                                </tr>
                                                            }
                                                            <tr>
                                                                @*<td colspan="5" style="text-align:right;"><b>Grand Total @Model.ProductsDetailList.Sum(x => x.total).ToString("C")</b></td>*@


                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                    @*<style>
                                                        .contractorCheckBox {
                                                        }

                                                        td {
                                                            border: 1px solid #DDD !important;
                                                            padding: 10px 7px;
                                                        }

                                                        #fitlerPanel, #fitlerPanel td {
                                                            border: none !important;
                                                        }

                                                        th {
                                                            border: 1px solid #DDD !important;
                                                            background-color: #DDD;
                                                            padding: 10px 7px;
                                                        }

                                                        table {
                                                            border-collapse: collapse;
                                                        }

                                                        @@media print {
                                                            td {
                                                                border: 1px solid #DDD !important;
                                                                padding: 10px 7px;
                                                            }

                                                            th {
                                                                border: 1px solid #DDD !important;
                                                                background-color: #DDD;
                                                                padding: 10px 7px;
                                                            }
                                                        }
                                                    </style>*@

                                                </div>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    @*<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <a href="~/Scripts/jquery-1.12.4.min.map">~/Scripts/jquery-1.12.4.min.map</a>*@
    <script>
        var contractorIds = new Array();
        $(document).ready(function () {
            $(".date").datetimepicker();
        });


        function printDiv(divID) {

            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;

            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            debugger;
            divElements = replaceAll("<td>", "<td style='border:0'>", divElements);
            divElements = replaceAll("<table>", "<table style='border:0'>", divElements);
            divElements = replaceAll("<th>", "<th style='border:0'>", divElements);
            divElements = replaceAll("<tr>", "<tr style='border:1px solid #000'>", divElements);
            divElements = replaceAll('<td colspan="100%">', "<td style='border:0'>", divElements);

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
        }


    </script>
}


