@using ChkProject.Models
@model UserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*commit Test*@
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content" style="width: 115%;">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="UserTable">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>LastName</th>
                                    <th>Role</th>
                                    <th>UserName</th>
                                    <th>Company</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.UserList != null && Model.UserList.Count > 0)
                                {
                                    foreach (var item in Model.UserList)
                                    {
                                        <tr>
                                            <td id="FirstName_@item.UserId">@item.FirstName</td>
                                            <td id="LastName_@item.UserId">@item.LastName</td>
                                            <td id="RoleId_@item.UserId">@item.RoleId</td>
                                            <td id="UserName_@item.UserId">@item.UserName</td>
                                            <td id="LocationId_@item.UserId">@item.LocationId</td>
                                            <td id="Email_@item.UserId">@item.Email</td>
                                           
                                            @*<td><button id="edit_@item.ProductId" onclick="EditProduct(@item.ProductId)">Edit</button>
                                                <button id="delete_@item.ProductId" onclick="DeleteProduct(@item.ProductId)">Delete</button></td>*@
                                            <td>
                                                <a style="cursor:pointer;" id="edit_@item.UserId" onclick="EditItem(@item.UserId)"><i class="glyphicon glyphicon-edit text-primary"></i></a> &nbsp;&nbsp;&nbsp;
                                                <a style="cursor:pointer;" id="delete_@item.UserId" onclick="DeleteItem(@item.UserId)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#UserTable').DataTable();
           // var update = true;
        });

    </script>
}




