@using ChkProject.Models
@model UserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*commit Test*@
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="UserTable">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>LastName</th>
                                    <th>Role</th>
                                    <th>UserName</th>
                                    <th>Company</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.UserList != null && Model.UserList.Count > 0)
                                {
                                    foreach (var item in Model.UserList)
                                    {
                                        <tr>
                                            <td id="FirstName_@item.UserId">@item.FirstName</td>
                                            <td id="LastName_@item.UserId">@item.LastName</td>
                                            <td id="RoleId_@item.UserId">@item.RoleId</td>
                                            <td id="UserName_@item.UserId">@item.UserName</td>
                                            <td id="LocationId_@item.UserId">@item.LocationId</td>
                                            <td id="Email_@item.UserId">@item.Email</td>
                                           
                                            @*<td><button id="edit_@item.ProductId" onclick="EditProduct(@item.ProductId)">Edit</button>
                                                <button id="delete_@item.ProductId" onclick="DeleteProduct(@item.ProductId)">Delete</button></td>*@
                                            <td>
                                                <a style="cursor:pointer;" id="edit_@item.UserId" onclick="EditItem(@item.UserId)"><i class="glyphicon glyphicon-edit text-primary"></i></a> &nbsp;&nbsp;&nbsp;
                                                <a style="cursor:pointer;" id="delete_@item.UserId" onclick="DeleteItem(@item.UserId)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#UserTable').DataTable();
           // var update = true;
        });

        @*function EditItem(id)
        {
            debugger;
            $("#ItemName").val($("#Itemname_" + id).text());
            $("#UnitPrice").val($("#Price_" + id).text());
            $("#QuantityPresent").val($("#quantity_" + id).text());
            //$("#MeasureUnit option[text=" + $("#Measureunit_" + id).text() + "]").attr("selected", "selected");
            //   $("#MeasureUnit").text($("#Measureunit_" + id).text());
            $("#MeasureUnit").find("option:contains(" + $("#Measureunit_" + id).text() + ")").each(function () {
                if ($(this).text() == $("#Measureunit_" + id).text()) {
                    $(this).attr("selected", "selected");
                }
            });
            // $("#Description").val(); $("#Status_" + id).val();
           $("#btn_Add").hide();
           $("#btn_Update").show();
         //  $("#hdnupdate").val(true);
           $("#hdnitemid").val(id);


        }

        function UpdateItem(check)
        {
            debugger;
            var item = new Object();
            item.ItemId = $("#hdnitemid").val();
            item.ItemName = $("#ItemName").val();
            item.UnitPrice = $("#UnitPrice").val();
            item.QuantityPresent = $("#QuantityPresent").val();
           // item.Description = $("#Description").val();
            if (check == "Delete")
            {
                item.IsDeleted = true;
            }

            $.ajax({
                url: "@Url.Action("UpdateMaterial", "Material")",
                type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({ model: item }),
            success: function (data) {
                if (data)
                {
                    alert("Data Update Successfully!");
                }
            }
        });



        }
        function DeleteItem(id)
        {
            debugger;
            $("#hdnitemid").val(id);
            UpdateItem("Delete");



        }


        function checkunique()
        {
            debugger;


            $.ajax({
                url: "@Url.Action("CheckDuplication", "Material")",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ItemName: $("#ItemName").val() }),
                success: function (data) {
                    if (data)
                    {
                        $("#ItemName").val('');
                    }
                }
            });

        }*@

    </script>
}




