@using ChkProject.Models
@model StockInProductModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">StockIn Product</h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        @using (Html.BeginForm("AddStockIn", "StockIn", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off", style = "margin: 0px;" }))
                        {
                            @Html.HiddenFor(x => Model.StockInId, new { @id = "hdnstockinid" })
                            @Html.HiddenFor(x => Model.IsDeleted, new { @id = "hdnisdeleted" })
                            @Html.HiddenFor(x => Model.ProductId, new { @id = "hdnproductid" })
                            @Html.HiddenFor(x => Model.StockInLocation, new { @id = "hdnstockinlocation" })
                            @*@Html.HiddenFor(x => Model.DateIn, new { @id = "hdnDatein" })*@
                            <div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <img width="172" src="~/assets/img/login-bg.jpg" />
                                    <input type="text" class="form-control" />
                                </div>
                            </div>



                        }
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Stock-IN</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="tblstockin">
                            <thead>
                                <tr>

                                    <th>ProductName</th>
                                    <th>Quantity</th>
                                    <th>Date</th>
                                    <th>Company</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                    <th style="display:none;"></th>
                                    <th style="display:none;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.StockInProductList != null && Model.StockInProductList.Count > 0)
                                {
                                    foreach (var item in Model.StockInProductList)
                                    {
                                        <tr>
                                            <td id="Productname_@item.StockInId">@item.ProductName</td>
                                            <td id="quantity_@item.StockInId">@item.Quantity</td>
                                            <td id="date_@item.StockInId">@item.DateIn</td>
                                            <td id="location_@item.StockInId">@item.LocationName</td>
                                            <td id="Description_@item.StockInId">@item.Description</td>
                                            @*<td><button id="edit_@item.ProductId" onclick="EditProduct(@item.ProductId)">Edit</button>
                                                <button id="delete_@item.ProductId" onclick="DeleteProduct(@item.ProductId)">Delete</button></td>*@
                                            <td>
                                                <a style="cursor:pointer;" id="edit_@item.StockInId" onclick="EditStockIn(@item.StockInId)"><i class="glyphicon glyphicon-edit text-primary"></i></a>&nbsp;&nbsp;&nbsp;
                                                <a style="cursor:pointer;" id="delete_@item.StockInId" onclick="DeleteStockIn(@item.StockInId)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                            </td>
                                            <td id="ProductId_@item.StockInId" style="display:none;">@item.ProductId</td>
                                            <td id="LocationId_@item.StockInId" style="display:none;">@item.StockInLocation</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tblstockin').DataTable();
            var table = $('#tblstockin').DataTable();
            if ('@TempData["message"]' == "success") {
                toastr.success('Success! Product stocked in');
            }
            else if ('@TempData["message"]' == "updated") {
                toastr.success('Success! Product updated');
            }

            $("#hdnproductid").val($("#ddlproduct").val());
            $("#hdnstockinlocation").val($("#ddl_company").val());
            $('#date_in').on('dp.change', function (e) {
                debugger;
                $("#hdnDatein").val($('#datein').val());
            })





        });
        $(function () {

            $('#date_in').datetimepicker();
            //   $("#hdnDatein").val($('#datein').val());
        });




        //$(function () {
        //    debugger;
        //            $('#datein').datetimepicker();
        //          //  $("#hdnDatein").val($('#datein').val());
        //        });


        function ddlcompanychange() {
            debugger;

            $("#hdnstockinlocation").val($("#ddl_company").val());
        }


        function ddlproductchange() {
            debugger;
            $("#hdnproductid").val($("#ddlproduct").val());
        }



        function EditStockIn(id) {
            debugger;
            $("#ddlproduct").val($("#ProductId_" + id).text());
            $("#ddl_company").val($("#LocationId_" + id).text());
            $("#Quantity").val($("#quantity_" + id).text());
            $("#Description").val($("#Description_" + id).text());
            //$("#date_in").text($("#date_" + id).text());
            $('#date_in').data("DateTimePicker").date(new Date($("#date_" + id).text()));
            $("#btn_Add").hide();
            $("#btn_Update").show();
            //  $("#hdnupdate").val(true);
            $("#hdnproductid").val($("#ddlproduct").val());
            $("#hdnstockinlocation").val($("#ddl_company").val());
            $("#hdnstockinid").val(id);
        }


        function UpdateStockIn(check) {
            debugger;
            var stockin = new Object();
            stockin.StockInId = $("#hdnstockinid").val();
            stockin.ProductId = $("#hdnproductid").val();
            stockin.StockInLocation = $("#hdnstockinlocation").val();
            stockin.DateIn = $('#date_in').datetimepicker('date');
            stockin.Quantity = $("#Quantity").val();
            stockin.Description = $("#Description").val();
            if (check == "Delete") {
                stockin.IsDeleted = true;
            }

            $.ajax({
                url: "@Url.Action("UpdateStockIn", "StockIn")",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ model: stockin }),
                success: function (data) {
                    debugger;
                    if (data) {
                        //toastr.success("Data Updated Successfully!");
                        //$('#tblstockin').DataTable().ajax.reload();
                        location.reload();
                        //$('#tblstockin').dataTable().api().ajax.reload();
                    }
                }
            });
        }

        function DeleteStockIn(id) {
            debugger;
            $("#hdnstockinid").val(id);
            UpdateStockIn("Delete");
        }


    </script>
}