@using ChkProject.Models
@model ProductModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter Product</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Product Name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="@Model.ProductName" placeholder="Enter Product Name" name="@Model.ProductName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Unit Price:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="@Model.UnitPrice" placeholder="Enter Price" name="@Model.UnitPrice">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Quantity:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="@Model.CurrentQuantity" placeholder="Enter password" name="@Model.CurrentQuantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Description:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control z-depth-1" id="@Model.Description" rows="3" placeholder="Write Product Description here..." name="@Model.Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="@Model.IsActive" id="@Model.IsActive"> Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>




