@using ChkProject.Models
@model ProductModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<input type="text" id="Update" />*@

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter Product</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("AddProduct", "Product", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off", style = "margin: 0px;" }))
                        {
                            @Html.HiddenFor(x => Model.Update, new { @id = "hdnupdate" })
                            @Html.HiddenFor(x => Model.ProductId, new { @id = "hdnproductid" })
                            @Html.HiddenFor(x => Model.IsDeleted, new { @id = "hdnisdeleted" })
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="ProductName" id="lbl_ProductName">Product Name:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ProductName" placeholder="Enter Product Name" name="ProductName" onblur="checkunique('ProductName');">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="UnitPrice" id="lbl_UnitPrice">Unit Price:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="UnitPrice" placeholder="Enter Price" name="UnitPrice">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="CurrentQuantity" id="lbl_Quantity">Quantity:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="CurrentQuantity" value="0" name="CurrentQuantity" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Description" id="lbl_Description">Description:</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control z-depth-1" id="Description" rows="3" name="Description" placeholder="Write Product Description here..."></textarea>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="IsActive" id="IsActive"> Active</label>
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <button type="submit" class="btn btn-primary" id="btn_Add">Add Product</button>
                                    <button type="button"class="btn btn-primary" id="btn_Update" style="display:none;" onclick="UpdateProduct()">Update Product</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Products</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="productTable">
                            <thead>
                                <tr>
                                   
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                    <th>Barcode</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.productList!=null && Model.productList.Count>0)
                                {
                                    foreach (var item in Model.productList)
                                    {
                                        <tr>
                                            <td id="Productname_@item.ProductId">@item.ProductName</td>
                                            <td id="quantity_@item.ProductId">@item.CurrentQuantity</td>
                                            <td id="Price_@item.ProductId">@item.UnitPrice</td>
                                            <td id="Description_@item.ProductId">@item.Description</td>
                                            @*<td><button id="edit_@item.ProductId" onclick="EditProduct(@item.ProductId)">Edit</button>
                                            <button id="delete_@item.ProductId" onclick="DeleteProduct(@item.ProductId)">Delete</button></td>*@
                                            <td><a style="cursor:pointer;" id="edit_@item.ProductId" onclick="EditProduct(@item.ProductId)"><i class="glyphicon glyphicon-edit text-primary"></i></a> &nbsp;&nbsp;&nbsp;
                                            <a style="cursor:pointer;" id="delete_@item.ProductId"  onclick="DeleteProduct(@item.ProductId)"><i class="glyphicon glyphicon-remove text-danger"></i></a>  &nbsp;&nbsp;&nbsp;
                                            
                                            </td>
                                            <td><img width="220" height="100" border="0" align="center" src="@item.BarCodeImage" /></td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();

            if ('@TempData["message"]' == "success") {
                toastr.success('Success! Product Added');
            }
            else if ('@TempData["message"]' == "updated") {
                toastr.success('Success! Product updated');
            }

           // var update = true;
        });

        function EditProduct(id)
        {

           $("#ProductName").val($("#Productname_"+id).text());
           $("#UnitPrice").val($("#Price_" + id).text());
           $("#CurrentQuantity").val($("#quantity_" + id).text());
           $("#Description").val($("#Description_" + id).text());
            // $("#Description").val(); $("#Status_" + id).val();
           $("#btn_Add").hide();
           $("#btn_Update").show();
         //  $("#hdnupdate").val(true);
           $("#hdnproductid").val(id);
        }

      

        function UpdateProduct(check)
        {
            debugger;
            var product = new Object();
            product.ProductId = $("#hdnproductid").val();
            product.ProductName = $("#ProductName").val();
            product.UnitPrice = $("#UnitPrice").val();
            product.CurrentQuantity = $("#CurrentQuantity").val();
            product.Description = $("#Description").val();
            if (check == "Delete")
            {
                product.IsDeleted = true;
            }

            $.ajax({
                url: "@Url.Action("UpdateProduct", "Product")",
                type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({ model: product }),
            success: function (data) {
                if (data)
                {
                    //location.reload();
                    //alert("Data Update Successfully!");
                }
            }
        });



        }
        function DeleteProduct(id)
        {
            debugger;
            $("#hdnproductid").val(id);
            UpdateProduct("Delete");
            $('#productTable').DataTable();



        }


        function checkunique(id)
        {
            debugger;

            var fieldvalue = $("#"+id).val();

            $.ajax({
                url: "@Url.Action("CheckDuplication", "Product")",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ fieldname: fieldname, fieldvalue: fieldvalue }),
                success: function (data) {
                    if (data)
                    {
                        $("#" + id).val('');
                    }
                }
            });

        }


        function RefreshProductGrid()
        {
            debugger;
            $.ajax({
                url: "@Url.Action("RefreshProductGrid", "Product")",
                type: "POST",
            contentType: "application/json",
            dataType: "json",
          //  data: JSON.stringify({}),
            success: function (data) {
                if (data)

                    debugger;
                    $('#productTable').DataTable();
                }
        });

        }




    </script>
}



